.idea
.DS_Store
target/
**/*.rs.bk
Cargo.lock
!crates/msrv/cli/Cargo.lock
node_modules
package-lock.json
npm-shrinkwrap.json
pnpm-lock.yaml
yarn.lock
/publish
/publish.exe
/.vscode/settings.json
webdriver.json
benchmarks/pkg
/crates/msrv/*/target
examples/cloudflare-worker/
