name: Coverage

on:
  push:
    branches:
      - "main"
  pull_request:

permissions:
  id-token: write

jobs:
  coverage:
    runs-on: ubuntu-latest
    env:
      CARGO_TERM_COLOR: always
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@nightly
        with:
          targets: wasm32-unknown-unknown
      - uses: taiki-e/install-action@just
      - uses: taiki-e/install-action@cargo-llvm-cov

      - uses: Swatinem/rust-cache@v2
        with:
          key: cargo-codecov-${{ hashFiles('**/Cargo.toml') }}

      - name: Generate code coverage
        run: just cov --lcov --output-path lcov.info
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          use_oidc: true
          fail_ci_if_error: true
          files: lcov.info
